:root {
    --bg-color-hover: linear-gradient(to right, #c9a874, white, #aa8242);
    --bg-color-input: #32353c;
    --border-input: 1px solid #212429;
    --border-radius-input: 5px;
}

* {
    box-sizing: border-box;
    color: #FFF;
    font-family: Proxima Nova;
}

body {
    background-color: #141312;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;

}

.containerHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}
.buttonHeader {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #b5b5b5;
}

nav a:hover {
    border-bottom: 1px solid #bfa251;
    color: #FFF;
}

.buttonHeader a {
    background-color: #141312;
    border: 1px solid #bfa251;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    text-decoration: none;
}

.buttonHeader a:hover {
    background: var(--bg-color-hover);  
    color: #000;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #212429    
}

.formInfo {
    display: flex;
}

.charInfo {
    display: flex;    
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    border: 2px solid #3F3F3F;
    padding: 10px;
}

.charBase {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.charTree {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 20px;
}

.charBase select {
    width: 90px;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
}

.charTree select {
    width: 110;        
    display: flex;
    flex-direction: column;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
}

.charRace {
    display: flex;
}

.charRace div {
    margin-right: 10px;
}

.origemCharacter {
    display: flex;
    flex-direction: column;    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 2px solid #3F3F3F;
    padding: 10px;
}

.origemCharacter textarea {
    width: 600px;
    height: 262px;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
}

#submit {
    display: flex;
    align-self: flex-end;
}

#submit input {
    background-color: #141312;
    border: 1px solid #bfa251;
    margin-top: 15px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;    
    cursor: pointer;    
    text-transform: uppercase;
}

#submit input:hover {
    background-color: #bfa251;
    color: #000;
    background: var(--bg-color-hover);
}

.subClass {
    display: flex;
}

.subClass label {    
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #141312;
    border: 1px solid #bfa251;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.subClass label:hover {
    color: #000;
    background: var(--bg-color-hover);
}
