:root {
    --bg-color-hover: linear-gradient(to right, #c9a874, white, #aa8242);
    --bg-color-input: #32353c;
    --border-input: 1px solid #212429;
    --border-radius-input: 5px;
}


* {
    box-sizing: border-box;
    color: #FFF;
    font-family: Proxima Nova,Arial,sans-serif;    
}

body {    
    background-color: #141312;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;

}

.containerHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonHeader {
    display: flex;
    align-items: center;
}

.buttonHeader a {
    background-color: #141312;
    border: 1px solid #bfa251;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.1em;    
}

.buttonHeader a:hover {
    background: var(--bg-color-hover);  
    color: #000;    
    transition: all 0.2s linear;
    text-shadow: 0 1px #fff79c;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.mmLine {
    height: 3px;
    background-color: #b5b5b5;
}

nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;    
    transition: all 0.3s linear;
    border-bottom: 1px solid transparent;
    color: #b5b5b5;
    font-weight: 800;
    font-size: .700em;
    line-height: 1;
    letter-spacing: 0.1em;
}

nav a:hover {    
    border-color: #bfa251;
    color: #FFF;    
}

#classPreview {
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #000;
    width: auto;
    height: auto;
}

#classPreview h1 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 50px;
    text-transform: uppercase;
}

.logoGunner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-top: 20px;
}

.logoGunner h1 {
    font-family:  Vendome, serif;;
    font-weight: 500;
    font-size: .700em;
    line-height: 1;
    letter-spacing: 0.02em;
}

.formRegister {
    width: auto;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #212429;   
}

.description {
    text-align: center;
    font-size: 18px;
    padding: 0px 10px;
    line-height: 1.3;
    max-width: 640px;
}

/* .formInfo {
    display: flex;
    justify-content: center;
    width: auto;
    min-height: 500px;
    flex-wrap: wrap;    
    margin-top: 20px;
    margin-bottom: 20px;  
} */

.charInfo {
    display: flex;   
    flex-direction: column; 
    margin-left: 20px;
    margin-right: 20px;    
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.1em;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.charBase {
    display: flex;
    flex-direction: column; 
}

.charTree {
    display: flex;
    flex-direction: column;    
}

input[type=text],
textarea {
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 20px;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    box-shadow: 0px 0px 10px #000;
    width: auto;
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 20px;
}

.charBase select {
    width: 115px;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 10px #000;
}

.charTree select {
    width: 115px;        
    display: flex;
    flex-direction: column;
    background: var(--bg-color-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 10px #000;
}

.charRace {
    display: flex;
}

.charRace div {
    margin-right: 10px;
}

/* .origemCharacter {
    display: flex;
    flex-direction: column;    
    width: 646.39px;;
    margin-left: 20px;
    margin-right: 20px;  
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.1em;    
} */

.charInfo textarea {
    height: 262px;
    resize: none;
}

#submit {
    display: flex;
    align-self: flex-end;
}

#submit input {
    background-color: #212429;
    border: 1px solid #bfa251;
    margin-top: 15px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;  
    cursor: pointer;    
    text-transform: uppercase;
    font-size: 0.99em;
    font-weight: 800;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 10px #000;
}

#submit input:hover {
    background-color: #bfa251;
    color: #000;
    background: var(--bg-color-hover);
    transition: all 0.2s linear;
    text-shadow: 0 1px #fff79c
}

.subClass {
    display: flex;
    flex-wrap: wrap;
}

.subClass label {    
    margin-top: 10px;
    background-color: #212429;
    border: 1px solid #bfa251;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;    
    font-size: 0.99em;
    font-weight: 800;
    box-shadow: 0px 0px 10px #000;
}

.subClass label:hover {
    color: #000;
    transition: all 0.2s linear;
    background: var(--bg-color-hover);
    text-shadow: 0 1px #fff79c
}

.active {
    color: #000;
    background: var(--bg-color-hover);
    text-shadow: 0 1px #fff79c
}

.lineSeparator {
    margin-bottom: 25px;
}

.classImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 25px;
}

.classImage img {          
    margin-bottom: 40px;
}

.classImage img:hover {
    transform: scale(1.1);
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    max-width: 350px;
    margin-right: 25px;
    margin-left: 25px;    
}

.imgContainer a {
    text-decoration: none;
    font-size: 23px;
}

.imgLink {
    width: 100%;
    margin: 20px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0px 0px 5px #bfa251;
}

.imgLink img {
    width: 100%;  
    height: 100%;  
    transition: all 0.2s linear;
}

.classTitle {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(90% 100px at 50% 0px, rgb(177, 97, 3), transparent 40%);    
    opacity: 0.8;
    transform: translateY(-10px);
    transition-duration: 250ms;       
}

.classTitle:hover {
    transform: scale(1.1);
}

.classTitle p {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
    text-transform: uppercase;
    color: #b5b5b5;
}

.classTitle h5 {
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.classTitle label {
    cursor: pointer; 
}

.brokenLine {
    border: 5px;
    width: 300px;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(177, 97, 3), transparent);    
    margin: 16px 0px;
    opacity: 0.6;  
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;  
}

.iconClass {
    margin-top: 25px;
    width: 50px;
    height: 50px;
}

.iconClass img {
    width: 100%;
    height: 100%;
    transition-duration: 250ms;
}

footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.containerAddress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    width: auto;    
}

.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.marginTop25 {
    margin-top: 25px;
}

.marginBottom25 {
    margin-bottom: 25px;
}

.navToTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language {
    padding-top: 12px;    
}

.language span {
    color: #b5b5b5;
    font-size: 12px;
    font-weight: 700;
}

.navToTop a {
    display: block;
    padding: 1rem;
    transition: color .35s ease;
    filter: drop-shadow(0 0 6px #000000);
    font-weight: 700;
    font-size: .875rem;
    line-height: 1;
    letter-spacing: .117em;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;  
    color: #b5b5b5;
}

.navToTop a:hover {  
    color: white;
}


.navToTop img {
    display: block;
    position: absolute;
    top: 50%;
    left: calc(50% - 0.1em);
    height: 55px;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: .5;
    transition: opacity .35s ease-in-out;
}

.imgAddres {    
    display: flex;   
    align-items: center;
    width: 220px;
    height: 50px;
}

.logoAmazon {
    width: 50px;
    height: 20px;
    margin-right: 20px;
}

.logoAmazon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logoSmilegate {
    width: 124px;
    height: 30px;   
}

.logoSmilegate img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footerLegal {
    display: flex;
    flex-direction: column;
    align-items: cneter;
}

.legalLinks {
    display: flex;
    justify-content: center;
}

.legalLinks a {
    text-decoration: none;
    color: #b5b5b5;
    font-size: 12px;
    font-weight: 700;
    transition: color .35s ease;
    padding: 10px;
    text-align: center;
}

.legalLinks a:hover {
    color: white;
}

.socialLink {
    display: flex;    
}

.logoSocial {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logoSocial img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logoSocial:hover {
    filter: brightness(300%);
}

.copyright {
    color: #b5b5b5;
    font-size: 12px; 
    font-weight: 700;
    width: auto;
    height: 24px;
    text-align: center;    
    margin-top: 27px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginTop50 {
    margin-top: 50px;
}

@media (min-width: 768px) {

    .containerAddress,
    .containerFooter {
        flex-direction: row;        
    }

    .marginTop25,
    .marginBottom25 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

@media (max-width: 979px) {

    .containerHeader nav ul {
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        display: none;
        background-color: #141312;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: -5%;
        right: -30px;
        
    }

}