* {
    box-sizing: border-box;
    max-width: 2560px;
}

body {
    background-color: #000;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid #0070cc;
    margin-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu nav  {
    display: flex;
}

.menu nav ul li {
    list-style: none;
}

.menuLink  {      
    text-transform: uppercase;
    text-decoration: none;
    color: #757575;
    transition: all 0.2s;
}

.menuLink:hover {
    color: white;
}

#banner {
    display: flex;
    justify-content: flex-start;
    background-image: url(../images/play5.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    border-bottom: 1px solid #0070cc;
    max-width: 1920px;
    max-height: 800px;
}

.flexRowCenter {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1920px;
}

.description {
    position: relative;
    top: 30%;
    text-transform: uppercase;
    padding-left: 5px;
}

.description h1 {
    font-size: 4em;
    color: white;
    text-shadow: 0px 0px 3px #000;
    border-bottom: 1px solid #0070cc;
    margin-bottom: 25px;
}

.description p {
    text-shadow: 0px 0px 3px #000;
    color: #A5A5A5;    
}

.buyButton {
    display: flex;
    justify-content: flex-end;
}

.buyButton a {
    text-decoration: none;
    border: 1px solid #0070cc;
    box-shadow: 0px 0px 5px #0070cc;
    color:  #FFF;
    text-shadow: 0px 0px 3px #000;
    padding: 5px 15px;
    font-size: 1.5em;
    margin-left: 10px;
    transition: all 0.2s;
}

.buyButton a:hover {
    background-color: #0070cc;
}

.productImage {
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 80%;
    /* border-bottom: 1px solid #44d62c;     */
}

.productImage img {
    width: 100%;
    height: 100%;
}

.product {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 55px;
}

.product figure {
    width: 100%;
    height: 100%;
    margin: 0px;    
    padding: 10px;
}

.justifySpaceAround {
    justify-content: space-around;
}

.width1920{
    width: 1920px;
}

.color {
    background-color: #252525;
}

.product figure figcaption {
    color: white;    
    padding: 10px;
    background-color: #111111;
}

.product figcaption strong {
    font-size: 1.5em;
    text-transform: uppercase;
}

.product figure a {
    text-decoration: none;
    color: white;
}

.product figcaption span {
    color: #0070cc;
}

.product figcaption span:hover {
    text-decoration: underline;
}

footer {
    background-color: #111111;
    margin-top: 25px;
}