* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #202124;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

.containerFather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.menu div {
    margin: 5px;
}

.perfil {
    width: 45px;
    height: 45px;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    padding: 5px;
}

.perfil img:hover {
    background-color: #2f3034;
}

.apps {
    width: 45px;
    height: 45px;   
}

.apps img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
    cursor: pointer;
}

.apps img:hover {
    background-color: #2f3034;
    border-radius: 40px;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 0.90em;
}

.menu a:hover {
    text-decoration: underline;
}

section {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.logo {
    margin-bottom: 25px;
}

.divTextSearch {
    display: flex;    
    padding: 10px 15px;
    border: 1px solid #5f6368;
    border-radius: 40px;
}

.divTextSearch img {
    width: 17px;
    height: 17px;
}

.divTextSearch input {
    background: transparent;
    border: 0;
    width: 500px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
}


/* https://ayltoninacio.com.br/blog/como-usar-os-seletores-css-um-guia-completo */

/* Remover bordas de seleção do input */
.divTextSearch input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.divButton {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.buttonSearch,
.buttonLuck {
    cursor: pointer;
    padding: 10px 17px;  
    background-color: #303134;  
    color: white;
    font-size: 0.95em;
    border-radius: 5px;
}

.buttonSearch:hover, 
.buttonLuck:hover {
    border: 1px solid #5f6368;
}

.buttonSearch {
    margin-right: 10px;
}

.language {
    margin-top: 25px;
    color: #bdc1c6;
    font-size: 0.82em;    
}

.language a {
    text-decoration: none;
    color: #8ab4f8;
}

.language a:hover {
    text-decoration: underline;
}

.containerFooter {
    display: flex;
    flex-direction: column;
    font-size: 0.90em;
}

.country {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #171717;
    border-bottom: 1px solid #202124;
    color: #9aa0a6;
}

.addressLink {
    display: flex;
    justify-content: space-between;
    background-color: #171717;
}

.addressLink nav ul {
    display: flex;
    list-style: none;    
    padding: 0;
    padding-left: 35px;
    padding-right: 15px;
}

.addressLink ul li {
    margin-right: 25px;
}

.addressLink ul li a {
    text-decoration: none;
    color: #9aa0a6
}

.addressLink ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {

    .addressLink {
        justify-content: space-around;               
    }

    .containerFather {
        min-width: 980px;    
    }
}

@media (max-width: 980px) {
        
    .container {
        margin-top: 20%;
    }

    .language {
        padding-bottom: calc(50vh * 2);
    }

}

@media (max-width: 588px) {

    .language {
        padding-bottom: 200vh;
    }

}

@media (max-width: 367px) {

    .language {
        padding-bottom: 300vh;
    }

}

@media (max-width: 267px) {
    .language {
        padding-bottom: 400vh;
    }

}