:root {
    --blue-color: #8ab4f8;
    --grey-color: #303134;
    --light-grey-color: #9aa0a6;
    --most-light-grey-color: #bdc1c6;
}

* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202124;
}

header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-color);
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMain {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 90px;
}

.logo img {
    width: 100%;
    height: 100%;
    padding: 30px;
    object-fit: contain;
}

.optionsMenu {
    display: flex;
    justify-content: space-around;
}

.settings,
.apps {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.account {
    width: 44px;
    height: 44px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 25px;
}

.settings:hover,
.apps:hover,
.account:hover {
    background-color: var(--grey-color);
}

.optionsMenu img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.searchText {
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: var(--grey-color);
    border-radius: 50px;
}

.searchText:hover {
    box-shadow: 0px 3px 8px #171717;
}

.searchText input {
    width: 550px;
    background-color: transparent;
    border: 0;
    font-size: 1em;
    outline: none;
    color: white;
    margin-left: 10px;
}

.searchText img {
    width: 28px;
    height: 28px;
    padding: 3px;
}

.cancelSearch {
    margin-left: 5px;
    margin-right: 5px;
}

.cancelSearch img {
    width: 42px;
    height: 25px;
    padding-right: 7px;
    padding-left: 7px;
}

.keyboard,
.lupa {
    margin-left: 5px;
    margin-right: 5px;    
}

.cancelSearch {
    border-right: 1px solid var(--light-grey-color);
    cursor: pointer;
}

.searchMenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 145px;
    width: 696px;    
    height: 50px;
}

.searchMenu nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.searchMenu nav ul li {
    display: flex;
    list-style: none;    
    margin: 0px 15px;    
    font-size: 0.9em;
}

.searchMenu nav ul li img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-right: 7px;
}

.searchMenu a {
    display: flex;
    text-decoration: none;
    color: var(--light-grey-color);
    padding-bottom: 10px;
}

.searchMenu a:hover {
    color: var(--blue-color);
}

.selected {
    color: var(--blue-color);
    border-bottom: 3px solid var(--blue-color);
}

.tools {
    padding-bottom: 10px;
}

.tools button {
    background-color: transparent;
    border: 0;
    color: var(--light-grey-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 1px;
    font-size: 0.9em;
}

.tools button:hover {
    border: 1px solid var(--light-grey-color);
    color: white;
    background-color: var(--grey-color);
}

.containerResults {
    display: flex;
    flex-direction: column;
    color: var(--light-grey-color);
    width: 696px;
    max-width: 696px;
    margin-left: 160px;
}

.resultCount {
    font-size: 0.9em;
    margin-bottom: 25px;
}

.result {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.translate {
    display: inline-block;
    color: var(--blue-color);
    cursor: pointer;
    padding-left: 15px;
    font-size: 0.9em;
}

.translate span {
    padding-right: 15px;
}

.translate:hover {
    text-decoration: underline;
}

.about {
    display: inline-block;    
}

.about img {
    width: 13px;
    height: 14px;
}

.span {
    display: inline-block;
    color: var(--light-grey-color);
    font-size: 0.9em;
}

.resultLink {
    text-decoration: none;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.resultLink:hover {
    text-decoration: underline;
}

.resultLink p {
    color: var(--blue-color);
    margin: 10px 0px 10px;
    font-size: 1.3em;
}

.top1 label {
    cursor: pointer;    
    color: var(--most-light-grey-color);
    font-size: 0.9em;
}

.summary {
    display: block;
    color: var(--most-light-grey-color);
    font-size: 0.91em;    
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    min-width: 1012px;
}

.containerFooter {
    padding-top: 10px;
}

.locality {
    border-bottom: 1px solid #212327;
    font-size: 0.9em;
}

address {
    display: flex;
    margin-left: 160px;
    font-style: normal;
}

address a {
    color: #bdc1c6;
    text-decoration: none;
}

address a span {
    color: #48a1ff;
}

.city{
    padding-top: 15px;    
    padding-left: 10px;
    padding-bottom: 10px;    
}

.country {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: var(--light-grey-color);
    border-right: 1px solid #212327;
}

.legal {
    margin-left: 160px;
}

.legal nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 27px;
}

.legal nav ul li {
    list-style: none;        
}

.legal a {
    text-decoration: none;
    color: var(--light-grey-color);    
    font-size: 0.9em;
}

.legal a:hover {
    color: #bdc1c6;
}

.paddingLeft {
    padding-left: 20px;
}

.containerPages {
    display: flex;
    justify-content: center;
    width: 696px;
    max-width: 696px;
    margin-left: 160px;
    margin-bottom: 35px;
}

.pages a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--blue-color);
}

.pages a:hover {
    text-decoration: underline;
}

.pages label {
    color: white;
    font-size: 1.8em;
}