* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #171717;
}

.container {
    display: grid;
    padding: 20px;
    height: 400px;
    grid-gap: 0px 20px; 
    grid-template-areas: 
    
        "itemJ1 itemJ1 itemJ1 itemJ1 itemJ1 itemO1 itemO1 itemO1 itemN1 itemN1 itemN1 itemA1 itemA1 itemA1 itemT1 itemT1 itemT1 itemT1 itemT1 itemH1 .      itemH3 itemAA1 itemAA1 itemAA1 itemNN1 itemNN1 itemNN1"
        ".      .      itemJ2 .      .      itemO2 .      itemO3 itemN2 .      itemN3 itemA2 .      itemA3 .      .      itemT2 .      .      itemH1 .      itemH3 itemAA2 .       itemAA3 itemNN2 .       itemNN3"
        ".      .      itemJ2 .      .      itemO2 .      itemO3 itemN2 .      itemN3 itemA2 itemA4 itemA3 .      .      itemT2 .      .      itemH1 itemH2 itemH3 itemAA2 itemAA4 itemAA3 itemNN2 .       itemNN3"
        ".      .      itemJ2 .      .      itemO2 .      itemO3 itemN2 .      itemN3 itemA2 .      itemA3 .      .      itemT2 .      .      itemH1 .      itemH3 itemAA2 .       itemAA3 itemNN2 .       itemNN3"
        "itemJ3 itemJ3 itemJ3 .      .      itemO4 itemO4 itemO4 itemN2 .      itemN3 itemA2 .      itemA3 .      .      itemT2 .      .      itemH1 .      itemH3 itemAA2 .       itemAA3 itemNN2 .       itemNN3"

    ;
}

.item {
    background-color: #000;
    padding: 20px;
    box-shadow: 7px 7px 10px #8a2be2;
    transition: 150ms;
}

.item:hover {
    transform: scale(0.9);
}

.itemJ1 {
    grid-area: itemJ1;
}

.itemO1 {
    grid-area: itemO1;
    border-bottom: 0;
}

.itemN1 {
    grid-area: itemN1;
    border-bottom: 0;
}
.itemA1 {
    grid-area: itemA1;
    /* border-bottom: 0; */
}
.itemT1 {
    grid-area: itemT1;
    border-bottom: 0;
}
.itemH1 {
    grid-area: itemH1;
}
.itemAA1 {
    grid-area: itemAA1;
}
.itemNN1 {
    grid-area: itemNN1;
    border-bottom: 0;
}



.itemJ2 {
    grid-area: itemJ2;
    border-top: 0;
    border-bottom: 0;
}

.itemO2 {
    grid-area: itemO2;
    border-top: 0;
    border-bottom: 0;
}
.itemO3 {
    grid-area: itemO3;
    border-top: 0;
    border-bottom: 0;
}

.itemN2 {
    grid-area: itemN2;
    border-top: 0;
}
.itemA2 {
    grid-area: itemA2;
    border-top: 0;
}
.itemT2 {
    grid-area: itemT2;
    border-top: 0;
}
.itemH2 {
    grid-area: itemH2;
    margin: 0;
}
.itemAA2 {
    grid-area: itemAA2;
    border-top: 0;
}
.itemNN2 {
    grid-area: itemNN2;
    border-top: 0;
}



.itemJ3 {
    grid-area: itemJ3;
}

.itemO4 {
    grid-area: itemO4;
    border-top: 0;
}

.itemN3 {
    grid-area: itemN3;
    margin: 0;
    border-top: 0;
}

.itemA3 {
    grid-area: itemA3;
    margin: 0;
    border-top: 0;
}

.itemH3 {
    grid-area: itemH3;
    margin: 0;
}

.itemAA3 {
    grid-area: itemAA3;
    margin: 0;
    border-top: 0;
}

.itemNN3 {
    grid-area: itemNN3;
    border-top: 0;
}



.itemA4 {
    grid-area: itemA4;
    margin: 0;
}

.itemAA4 {
    grid-area: itemAA4;
    margin: 0;
}




